@model ysamedia.Models.ChurchViewModels.CompleteViewModel

@{
    ViewData["Title"] = "Personal Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <a href="~/Views/ChurchMember/MemberRegister.cshtml">Edit Record</a>
        <div class="card-box">
            <h2 class="m-t-0 header-title">@ViewData["Title"] For @Model.FirstName @Model.Surname</h2>
            <p class="text-muted m-b-30 font-14">
                Recorded On @Model.DateRecorded
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <form asp-controller="ChurchMember" asp-action="MemberRegister" class="form-horizontal" role="form">
                            <div class="form-group row">
                                <label class="col-2 col-form-label">First Name(s)</label>
                                <div class="col-10">
                                    <input asp-for="FirstName" class="form-control" disabled>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Surname</label>
                                <div class="col-10">
                                    <input asp-for="Surname" class="form-control" disabled>
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Gender</label>
                                <div class="col-10">
                                    <input asp-for="GenderId" class="form-control" disabled />
                                    <span asp-validation-for="GenderId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Date Of Birth</label>
                                <div class="col-3">
                                    <input asp-for="Day" class="form-control" placeholder="Day" type="number" min="1" max="31" disabled />
                                    <span asp-validation-for="Day" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <input asp-for="Month" class="form-control" placeholder="Month" type="number" min="1" max="12" disabled />
                                    <span asp-validation-for="Month" class="text-danger"></span>
                                </div>
                                <div class="col-3">
                                    <input asp-for="Year" class="form-control" disabled />
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
                            </div>                   
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Age Group</label>
                        <div class="col-10">
                            <input asp-for="AGroupId" class="form-control" disabled />
                            <span asp-validation-for="AGroupId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Marital Status</label>
                        <div class="col-10">
                            <input asp-for="RelationshipId" class="form-control" disabled />
                            <span asp-validation-for="RelationshipId" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="form-group row">
                        <label class="col-2 col-form-label"><b>Number Of Dependents</b></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Pre-School</label>
                        <div class="col-10">
                            <input asp-for="NumPreschool" class="form-control" type="number" min="1" disabled>
                            <span asp-validation-for="NumPreschool" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Primary</label>
                        <div class="col-10">
                            <input asp-for="NumPrimary" class="form-control" type="number" min="1" disabled>
                            <span asp-validation-for="NumPrimary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">High-School</label>
                        <div class="col-10">
                            <input asp-for="NumHigh" class="form-control" type="number" min="1" disabled>
                            <span asp-validation-for="NumHigh" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Tertiary</label>
                        <div class="col-10">
                            <input asp-for="NumTertiary" class="form-control" type="number" min="1" disabled>
                            <span asp-validation-for="NumTertiary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Occupation</label>
                        <div class="col-10">
                            <input asp-for="OccupationId" class="form-control" disabled />
                            <span asp-validation-for="OccupationId" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="form-group row">
                        <label class="col-2 col-form-label"><b>Contact Details</b></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Cell Number</label>
                        <div class="col-10">
                            <input asp-for="CellNumber" class="form-control" disabled>
                            <span asp-validation-for="CellNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Home Number</label>
                        <div class="col-10">
                            <input asp-for="HomeNumber" class="form-control" disabled>
                            <span asp-validation-for="HomeNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Work Number</label>
                        <div class="col-10">
                            <input asp-for="WorkNumber" class="form-control" disabled>
                            <span asp-validation-for="WorkNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="exampleInputEmail1">Email Address</label>
                        <div class="col-10">
                            <input asp-for="EmailAddress" type="email" class="form-control" disabled>
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="form-group row">
                        <label class="col-2 col-form-label"><b>Physical Address</b></label>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-2 col-form-label">Street Address</label>
                        <div class="col-10">
                            <input asp-for="Street" class="form-control" id="inputAddress" placeholder="Street Address" disabled>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity" class="col-form-label">City</label>
                            <input asp-for="City" class="form-control" id="inputCity" disabled>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState" class="col-form-label">Province</label>
                            <input asp-for="Province" class="form-control" disabled />
                            <span asp-validation-for="Province" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip" class="col-form-label">Postal Code</label>
                            <input asp-for="PostalCode" class="form-control" id="inputZip" maxlenth="4" disabled>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="form-group row">
                        <label class="col-2 col-form-label"><b>Additional Information</b></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Q1. In which denomination or church do you belong to?</label>
                        <div class="col-12">
                            <textarea asp-for="Question1" class="form-control" rows="2" value="0" disabled></textarea>
                            <span asp-validation-for="Question1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Q2. What brought you here to Yahweh Shamma Assembly?</label>
                        <div class="col-12">
                            <textarea asp-for="Question2" class="form-control" rows="3" value="0" disabled></textarea>
                            <span asp-validation-for="Question2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Q3. Have you been baptized?</label>
                        <div class="col-12">
                            <input asp-for="Question3" class="form-control" disabled />
                            <span asp-validation-for="Question3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Q4. (If you answered "Yes" to Q3) When were you baptized?</label>
                        <div class="col-12">
                            <input asp-for="Question4" class="form-control" disabled>
                            <span asp-validation-for="Question4" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Q5. Would you please give some comment about the service that you have just attended?</label>
                        <div class="col-12">
                            <textarea asp-for="Question5" class="form-control" rows="5" disabled></textarea>
                            <span asp-validation-for="Question5" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Q6. Would you like to follow some teachings and become a member at our community?</label>
                        <div class="col-12">
                            <input asp-for="Question6" class="form-control" disabled />
                            <span asp-validation-for="Question6" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <button class="btn btn-custom waves-effect waves-light" type="submit" id="validateIt">Submit Form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>