@model ICollection<ysamedia.Models.TblUser>

@{ 
    ViewData["Title"] = "User List";
}

<br />
<h2>Count : @Model.ToList().Count</h2>
<br />
@foreach (var item in Model)
{
    <dl>
        <dt><b>Email :</b></dt>
        <dd>@item.Email</dd>
    </dl>
}