@model ysamedia.Entities.ChurchMember

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>ChurchMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRegistered" class="control-label"></label>
                <input asp-for="DateRegistered" class="form-control" />
                <span asp-validation-for="DateRegistered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeGroupId" class="control-label"></label>
                <select asp-for="AgeGroupId" class ="form-control" asp-items="ViewBag.AgeGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipId" class="control-label"></label>
                <select asp-for="RelationshipId" class ="form-control" asp-items="ViewBag.RelationshipId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.GenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupationId" class="control-label"></label>
                <select asp-for="OccupationId" class ="form-control" asp-items="ViewBag.OccupationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumDepInPreSchool" class="control-label"></label>
                <input asp-for="NumDepInPreSchool" class="form-control" />
                <span asp-validation-for="NumDepInPreSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDepInPrimary" class="control-label"></label>
                <input asp-for="NumDepInPrimary" class="form-control" />
                <span asp-validation-for="NumDepInPrimary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDepInHighSchool" class="control-label"></label>
                <input asp-for="NumDepInHighSchool" class="form-control" />
                <span asp-validation-for="NumDepInHighSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDepInTertiary" class="control-label"></label>
                <input asp-for="NumDepInTertiary" class="form-control" />
                <span asp-validation-for="NumDepInTertiary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToQ1" class="control-label"></label>
                <input asp-for="AnswerToQ1" class="form-control" />
                <span asp-validation-for="AnswerToQ1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToQ2" class="control-label"></label>
                <input asp-for="AnswerToQ2" class="form-control" />
                <span asp-validation-for="AnswerToQ2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToQ3" class="control-label"></label>
                <input asp-for="AnswerToQ3" class="form-control" />
                <span asp-validation-for="AnswerToQ3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToQ4" class="control-label"></label>
                <input asp-for="AnswerToQ4" class="form-control" />
                <span asp-validation-for="AnswerToQ4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToQ5" class="control-label"></label>
                <input asp-for="AnswerToQ5" class="form-control" />
                <span asp-validation-for="AnswerToQ5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToQ6" class="control-label"></label>
                <input asp-for="AnswerToQ6" class="form-control" />
                <span asp-validation-for="AnswerToQ6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

