@model ysamedia.Models.TimeLogViewModels.TimeLogViewModel

@{
    ViewData["Title"] = "Time In Log";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h2 class="header-title m-t-0">Time In Log</h2>
            <p class="text-muted font-14 m-b-25">
                Pick a date that you want to enter the Log for. Select user(s) and the time category
                that they fall under. Then click the submit button.
            </p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="my-form">
                            <div class="form-group">
                                <label>Pick Date</label>
                                <div>
                                    <div class="input-group">
                                        <input asp-for="date" class="form-control" id="txtdate" />
                                    </div>
                                    <span asp-validation-for="date" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Select Members</label>
                                <div class="with-select">
                                    <select asp-for="SelectedIDArray"
                                            class="chosen-select" required
                                            asp-items="@(new MultiSelectList(ViewBag.ListOfUsers, "UserId", "DisplayName"))" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Time Category</label>
                                <select asp-for="TimeInID"
                                        class="form-control"
                                        asp-items="@(new SelectList(ViewBag.ListOfTimes, "TimeId", "Category"))">
                                    <option value="" hidden disabled selected>Please select</option>
                                </select>
                                <span asp-validation-for="TimeInID" class="text-danger"></span>
                            </div>
                            <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" id="validateIt">Save Entry</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<!-- Chosen CSS-->
<link href="~/lib/jquery-ui/themes/flick/jquery-ui.css" rel="stylesheet" />
<link href="~/lib/chosen/chosen.css" rel="stylesheet" />

<!-- Chosen Scripts -->
@section scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/lib/chosen/chosen.proto.js"></script>

    <script>
        $(document).ready(function () {
            $('#txtdate').datepicker({
                showOn: 'both',
                buttonText: 'Calendar',
                dateFormat: 'yy/mm/dd'
            });
        });

        // Chosen validation
        $('.chosen-select').chosen({
            no_results_text: "Oops, Nothing Found!",
            placeholder_text_multiple: "Select Members",
            width: "100%"
        });
        $.validator.setDefaults({ ignore: ":hidden:not(select)" });

        // validation of chosen on change
        if ($("select.chosen-select").length > 0) {
            $("select.chosen-select").each(function () {
                if ($(this).attr('required') !== undefined) {
                    $(this).on("change", function () {
                        $(this).valid();
                    });
                }
            });
        }

        // validation
        $('#my-form').validate({
            errorPlacement: function (error, element) {
                console.log("placement");
                if (element.is("select.chosen-select")) {
                    console.log("placement for chosen");
                    // placement for chosen
                    element.next("div.chzn-container").append(error);
                } else {
                    // standard placement
                    error.insertAfter(element);
                }
            }
        });

    </script>
}
