@model IEnumerable<string>
@{
    ViewData["Title"] = "ShowIDs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowIDs</h2>

@foreach (string item in Model)
{
    <p>@item</p>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                String ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ListOfIDs)
        {
            <tr>
                <td>
                    item
            </tr>
        }
    </tbody>
</table>*@