@using ysamedia.Views.UserProfile

<ul class="nav nav-tabs tabs-bordered nav-justified">
    <li class="nav-item @UserProfileNavPages.IndexNavClass(ViewContext)"><a asp-action="Index" data-toggle="" aria-expanded="false" class="nav-link">Profile Photo</a></li>
    <li class="nav-item @UserProfileNavPages.CreatedNavClass(ViewContext)"><a asp-action="Created" data-toggle="" aria-expanded="false" class="nav-link">View Photo</a>
    <li class="nav-item @UserProfileNavPages.ScreeningQuestionNavClass(ViewContext)"><a asp-action="ScreeningQuestion" data-toggle="" aria-expanded="false" class="nav-link">Screening Form</a></li>
</ul>

