@{
    ViewData["Title"] = "Created";
    ViewData.AddActivePage(UserProfileNavPages.Created);
}

<br />
<h4>@ViewData["Title"]</h4>
@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<div class="row">
    <div class="col-md-12">
        <label>@ViewData["fName"]</label><br />
        <img src="@ViewData["fileLocation"]" />
     </div>
</div>