@model ysamedia.Entities.Photo

@{
    ViewData["Title"] = "User Profile";
    ViewData.AddActivePage(UserProfileNavPages.Index);
}

<br />
<div class="row">
    <div class="col-md-12">

        <form method="post" enctype="multipart/form-data" asp-controller="UserProfile" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload Profile Picture: </p>
                    <input type="file" name="files" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-custom waves-effect waves-light">Upload</button>                   
                </div>
            </div>
        </form>       
    </div>
</div>

<label>@ViewData["fName"]</label><br />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
