@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row card-box">
    <h2 class="header-title m-t-0 m-b-30">Manage Your Account</h2>
    <div class="col-md-12">
        @await Html.PartialAsync("_ManageNav")
    </div>
    <div class="col-md-12">
        @RenderBody()

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
