@model ysamedia.Models.UserViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card-box">            
            <p class="text-muted m-b-30 font-14">
                Edit Your Personal Information & Add Additional Information
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="AccessFailedCount" />
                            <input type="hidden" asp-for="ConcurrencyStamp" />
                            <input type="hidden" asp-for="EmailConfirmed" />
                            <input type="hidden" asp-for="LockoutEnabled" />
                            <input type="hidden" asp-for="LockoutEnd" />
                            <input type="hidden" asp-for="NormalizedEmail" />
                            <input type="hidden" asp-for="NormalizedUserName" />
                            <input type="hidden" asp-for="PasswordHash" />
                            <input type="hidden" asp-for="PhoneNumberConfirmed" />
                            <input type="hidden" asp-for="SecurityStamp" />
                            <input type="hidden" asp-for="TwoFactorEnabled" />
                            <input type="hidden" asp-for="UserName" />
                            <input type="hidden" asp-for="DisplayName" />
                            <input type="hidden" asp-for="DateJoinedDept" />
                            <input type="hidden" asp-for="DateOfBirth" />
                            <input type="hidden" asp-for="GenderId" />
                            <input type="hidden" asp-for="Approved" />
                            <input type="hidden" asp-for="DriverLicence" />
                            <input type="hidden" asp-for="Discriminator" />
                            <input type="hidden" asp-for="PhysicalAddress" />
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" disabled/>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Surname" class="control-label"></label>
                                <input asp-for="Surname" class="form-control" disabled/>
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HomeNumber" class="control-label"></label>
                                <input asp-for="HomeNumber" class="form-control" />
                                <span asp-validation-for="HomeNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="WorkNumber" class="control-label"></label>
                                <input asp-for="WorkNumber" class="form-control" />
                                <span asp-validation-for="WorkNumber" class="text-danger"></span>
                            </div>
                            <br />
                            <hr />                           
                            <div class="form-group row">
                                <label class="col-2 col-form-label"><b>PHYSICAL ADDRESS</b></label>
                                <label class="col-12 col-form-label text-muted"><b>@Model.Street @Model.City @Model.Province @Model.PostalCode</b></label>
                            </div>                            
                            <div class="form-group row">
                                <label asp-for="Street" class="col-2 col-form-label"></label>
                                <div class="col-10">
                                    <input asp-for="Street" class="form-control" id="inputAddress">
                                    <span asp-validation-for="Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity" class="col-form-label">City</label>
                                    <input asp-for="City" class="form-control" id="inputCity">
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState" class="col-form-label">Province</label>
                                    <select asp-for="Province" id="inputState" class="form-control">
                                        <option>Gauteng</option>
                                        <option>Limpopo</option>
                                        <option>Mpumalanga</option>
                                        <option>Kwazulu Natal</option>
                                        <option>Free State</option>
                                        <option>North West</option>
                                        <option>Northern Cape</option>
                                        <option>Western Cape</option>
                                        <option>Eastern Cape</option>
                                        <option value="" hidden disabled selected>Please Select</option>
                                    </select>
                                    <span asp-validation-for="Province" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip" class="col-form-label">Postal Code</label>
                                    <input asp-for="PostalCode" class="form-control" id="inputZip" maxlenth="4">                                    
                                </div>
                            </div>
                            <br />
                            <hr />
                            <br />
                            <div class="form-group">
                                <button class="btn btn-custom waves-effect waves-light" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>


