@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}

<div class="login-card">
    <img src="~/images/avatar_2x.png" class="profile-img-card"/>   
    <p class="profile-name-card"> </p>
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin">
        <span class="reauth-email"> </span>
        <input asp-for="Email" class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail">
        <input asp-for="Password" class="form-control" type="password" required="" placeholder="Password" id="inputPassword">
        <div class="checkbox">
            <div class="checkbox">
                <label>
                    <input asp-for="RememberMe" type="checkbox">
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
    </form><a asp-action="ForgotPassword">Forgot your password?</a>   
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
