@model ysamedia.Models.UserScreeningViewModels.UserScreeningViewModel

@{
    ViewData["Title"] = "Media Form";
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h2 class="m-t-0 header-title">@ViewData["Title"]</h2>
            <p class="text-muted m-b-30 font-14">
                Media registration form, for users who want to join media.
            </p>
            <hr />
            <p class="text-muted m-b-30 font-14">
                Ecclesiastes 4:9-12
            </p>
            <p class="text-muted m-b-30 font-14">                
                “Two are better than one, because they have a good reward for their toil.
                For if they fall, one will lift up his fellow. But woe to him who is alone when he falls and has not 
                another to lift him up! Again, if two lie together, they keep warm, but how can one keep warm alone? And 
                though a man might prevail against one who is alone, two will withstand him—a threefold cord is not quickly broken.”
            </p>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <form class="form-horizontal" role="form">
                            <div class="form-group row">
                                <label class="col-12 col-form-label"><b>Please Answer The Following Questions</b></label>
                            </div>
                            <div class="form-group row">
                                <p class="col-12 col-form-label">Q1. In your own words, what is the role of the church’s media department?</p>
                                <div class="col-12">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-12 col-form-label">Q2. What kind of influence do you think a media department has on the church?</p>
                                <div class="col-12">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-12 col-form-label">Q3. Are media members supposed to carry themselves in a specific manner?</p>
                                <div class="col-12">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-12 col-form-label">Q4. What is your understanding of being a servant of God?</p>
                                <div class="col-12">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="form-group row">
                                <label class="col-12 col-form-label"><b>Please select the top ten most applicable to you</b></label>
                            </div>
                            <div class="form-group row">
                                <p class="col-12 col-form-label">Select From List</p>
                                <div class="col-12">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <br />
                            <div class="form-group row">
                                <label class="col-12 col-form-label"><b>Please select the top ten most applicable to you</b></label>
                            </div>
                            <div class="form-group row">
                                <p class="col-12 col-form-label">Select From List</p>
                                <div class="col-12">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <br />
                            <div class="form-group row">
                                <label class="col-12 col-form-label"><b>Please rate from 1-5 in order of importance to you.</b></label>
                            </div>
                            <div class="form-group row">
                                <p class="text-muted m-b-30 font-14">
                                    &emsp; 1 being strongly disagree and 5 being strongly agree.
                                </p>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q1. A group should always have shared vision and goals</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q2. Every members needs and wants should be met in the group</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q3. Everyone should be heard and every idea should be taken into consideration</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q4. Teams are best run when there is a culture of democracy</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q5. People should only be given tasks they want to do</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q6. Nothing should be done without go ahead from person in charge</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q7. Getting along with every team member is an absolute must</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q8. A member should always stand their ground and MUST be heard</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q9. Every problem/issue addressed in a team should be addressed</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q10. Every team member is a leader and should be an example</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q11. There should be zero tolerance of members who don’t pull their weight</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q12. Team building is crucial to running a successful department</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q13. Training and upscaling of skills should be number priority in a team</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q14. Successful team members have a responsibility towards those not doing so well</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q15. All members should suffer consequences of one members mistakes</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="col-7 col-form-label">Q16. A team is accountable to its leaders</p>
                                <div class="col-5">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>                                                        
                            <br />
                            <hr />                            
                            <br />
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Enter A Date For This Form Entry</label>
                                <div class="col-8">
                                    <input class="form-control" type="date" name="date">
                                </div>
                            </div>
                            <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" id="validateIt">Submit Form</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
