@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col-sm-6 col-lg-6 col-xl-3">
        <div class="card-box widget-flat border-custom bg-custom text-white">
            <i class="fi-tag"></i>
            <h3 class="m-b-10">25563</h3>
            <p class="text-uppercase m-b-5 font-13 font-600">Total tickets</p>
        </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-xl-3">
        <div class="card-box bg-primary widget-flat border-primary text-white">
            <i class="fi-archive"></i>
            <h3 class="m-b-10">6952</h3>
            <p class="text-uppercase m-b-5 font-13 font-600">Pending Tickets</p>
        </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-xl-3">
        <div class="card-box widget-flat border-success bg-success text-white">
            <i class="fi-help"></i>
            <h3 class="m-b-10">18361</h3>
            <p class="text-uppercase m-b-5 font-13 font-600">Closed Tickets</p>
        </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-xl-3">
        <div class="card-box bg-danger widget-flat border-danger text-white">
            <i class="fi-delete"></i>
            <h3 class="m-b-10">250</h3>
            <p class="text-uppercase m-b-5 font-13 font-600">Deleted Tickets</p>
        </div>
    </div>
</div>
<!-- end row -->


<div class="row">
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-custom">Media</div>
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb m-b-10 mx-auto">
                        <img src="~/uploads/img/members/29fd677d-0064-47f1-b4cd-36ef0790e72f.jpg" class="rounded-circle img-thumbnail" alt="profile-image" height="192" width="192">
                    </div>
                    <div class="">
                        <h4 class="m-b-5">Christopher Gallardo</h4>
                        <p class="text-muted">Webdesigner <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                    </div>
                    <ul class="social-links list-inline m-t-20">
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">View Profile</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-primary">Primary Ribbon</div>
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb m-b-10 mx-auto">
                        <img src="~/uploads/img/members/avatar_2x.png" class="rounded-circle img-thumbnail" alt="profile-image">
                    </div>
                    <div class="">
                        <h4 class="m-b-5">Julie L. Arsenault</h4>
                        <p class="text-muted">@@Programmer <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                    </div>
                    <ul class="social-links list-inline m-t-20">
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-success">Success Ribbon</div>
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb m-b-10 mx-auto">
                        <img src="~/uploads/img/members/05f24f20-5525-4c1f-8273-e683fc332d69.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                    </div>
                    <div class="">
                        <h4 class="m-b-5">Freddie J. Plourde</h4>
                        <p class="text-muted">@@Founder <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                    </div>
                    <ul class="social-links list-inline m-t-20">
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-info">Info Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-warning">Warning Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-danger">Danger Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-pink">Pink Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-purple">Purple Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-dark">Dark Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-md-4">
        <div class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb m-b-10 mx-auto">
                    <img src="assets/images/users/avatar-2.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>                
                <div class="">
                    <h4 class="m-b-5">Freddie J. Plourde</h4>
                    <p class="text-muted">@@Founder <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                </div>
                <ul class="social-links list-inline m-t-20">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">2563</h4>
                                <p class="mb-0 text-muted">Wallets Balance</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">6952</h4>
                                <p class="mb-0 text-muted">Income amounts</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">1125</h4>
                                <p class="mb-0 text-muted">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-md-4">
        <div class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb m-b-10 mx-auto">
                    <img src="assets/images/users/avatar-3.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>
                <div class="">
                    <h4 class="m-b-5">Julie L. Arsenault</h4>
                    <p class="text-muted">@@Programmer <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                </div>
                <ul class="social-links list-inline m-t-20">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">8471</h4>
                                <p class="mb-0 text-muted">Wallets Balance</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">8512</h4>
                                <p class="mb-0 text-muted">Income amounts</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">4751</h4>
                                <p class="mb-0 text-muted">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-md-4">
        <div class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb m-b-10 mx-auto">
                    <img src="assets/images/users/avatar-4.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>
                <div class="">
                    <h4 class="m-b-5">Christopher Gallardo</h4>
                    <p class="text-muted">@@Webdesigner <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                </div>
                <ul class="social-links list-inline m-t-20">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">1021</h4>
                                <p class="mb-0 text-muted">Wallets Balance</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">4562</h4>
                                <p class="mb-0 text-muted">Income amounts</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">3621</h4>
                                <p class="mb-0 text-muted">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-md-4">
        <div class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb m-b-10 mx-auto">
                    <img src="assets/images/users/avatar-5.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>
                <div class="">
                    <h4 class="m-b-5">Joseph M. Rohr</h4>
                    <p class="text-muted">@@Webdesigner <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                </div>
                <ul class="social-links list-inline m-t-20">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">7845</h4>
                                <p class="mb-0 text-muted">Wallets Balance</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">1254</h4>
                                <p class="mb-0 text-muted">Income amounts</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">5846</h4>
                                <p class="mb-0 text-muted">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

    
        @*<div class="card-box ribbon-box">
            <div class="ribbon ribbon-purple">Purple Ribbon</div>
            <p class="m-b-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
        </div>*@
        
    <div class="col-md-4">
        <div class="text-center card-box ribbon-box">
            <div class="ribbon ribbon-purple">Purple Ribbon</div>
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb m-b-10 mx-auto">
                    <img src="~/uploads/img/members/19a100cb-410c-4430-a739-d059d7253ae3.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>
                <div class="">
                    <h4 class="m-b-5">Mark K. Horne</h4>
                    <p class="text-muted">@@Director <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                </div>
                <ul class="social-links list-inline m-t-20">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">4851</h4>
                                <p class="mb-0 text-muted">Wallets Balance</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">10250</h4>
                                <p class="mb-0 text-muted">Income amounts</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">895</h4>
                                <p class="mb-0 text-muted">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-md-4">
        <div class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb m-b-10 mx-auto">
                    <img src="~/uploads/img/members/05f24f20-5525-4c1f-8273-e683fc332d69.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>
                <div class="">
                    <h4 class="m-b-5">James M. Fonville</h4>
                    <p class="text-muted">@@Manager <span> | </span> <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
                </div>
                <ul class="social-links list-inline m-t-20">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">4560</h4>
                                <p class="mb-0 text-muted">Wallets Balance</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">12350</h4>
                                <p class="mb-0 text-muted">Income amounts</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4 class="m-b-5">742</h4>
                                <p class="mb-0 text-muted">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->