@model ysamedia.Entities.User

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<p>@Html.DisplayFor(model => model.FirstName)</p>

@foreach(var item in Model.NegAttributeUserBridge)
{
    <p>@item.AttributeId </p>
}


