
@{
    ViewData["Title"] = "ShowFields";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowFields</h2>

<label>@ViewData["fname"]</label><br/>
<label>@ViewData["fileLocation"]</label>
<img src="@ViewData["fileLocation"]" />