@using Microsoft.AspNetCore.Identity
@using ysamedia.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>YSM @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="ysa media user management web app" name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!--chartist Chart CSS -->
    <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- App css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />   
    <script src="~/js/modernizr.min.js"></script>    
</head>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                        <span>
                            @*<img src="assets/images/logo.png" alt="" height="22">*@
                        </span>
                        <i>
                            @*<img src="assets/images/logo_sm.png" alt="" height="28">*@
                        </i>
                    </a>
                </div>
                <!-- User box -->
                <div class="user-box">
                    <div class="user-img">
                        <img src="~/uploads/img/members/Untitled-2.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" />
                    </div>
                    <h5><a href="#">@UserManager.GetUserAsync(User).Result.DisplayName</a> </h5>
                    <p class="text-muted">Member</p>
                </div>
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-controller="TimeLog" asp-action="Index">
                                    <i class="fas fa-book"></i><span> Create Log </span>
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="TimeLog" asp-action="DisplayLog">
                                <i class="fas fa-archive"></i><span> View Logs </span>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-controller="UserManagement" asp-action="Index">
                                    <i class="fas fa-id-card-alt"></i><span> Assign Role </span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>
                                <a asp-controller="ChurchMembers" asp-action="MemberRegister">
                                    <i class="fas fa-address-book"></i><span> Church Form </span>
                                </a>
                            </li>
                        }
                        <li>
                            <a href="javascript: void(0);"><i class="fas fa-file-alt"></i><span> Media Form </span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="UserScreening" asp-action="QuestionSet">Section A</a></li>
                                <li><a asp-controller="UserScreening" asp-action="AttributeSet">Section B</a></li>
                                <li><a asp-controller="UserScreening" asp-action="Rating">Section C</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">

            @await Html.PartialAsync("_LoginPartial")

            <!-- Top Bar End -->
            <!-- Start Page content -->

            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                    <!-- end row -->
                </div> <!-- container -->
            </div> <!-- content -->
            <footer class="footer text-right">
                2018 © YSA MEDIA
            </footer>
        </div>

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
