@using Microsoft.AspNetCore.Identity
@using ysamedia.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="topbar">
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-right-menu float-right mb-0">                
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Logout" title="Account">
                        <i class="fas fa-sign-out-alt"></i><span>Logout</span>                       
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}